Repository tiwariav/react-multi-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.js": [
    "eslint --cache --fix",
    "prettier --write"
  ],
  "*.{css,sass,scss}": "stylelint --fix"
}

Update README.md
  README.md
Due: none

chore: remove some linting conffig
  .commitlintrc.json
  .hooks/post-merge.sh
  .huskyrc.json
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

chore: update readme
  .yarn/releases/yarn-2.3.3.cjs
  README.md
Due: none

chore: add storybook app
  .pnp.js
  package.json
  packages/shared/package.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/config-overrides.js
  packages/storybook/package.json
  packages/storybook/stories/Button.js
  packages/storybook/stories/Button.stories.js
  packages/storybook/stories/Header.js
  packages/storybook/stories/Header.stories.js
  packages/storybook/stories/Introduction.stories.mdx
  packages/storybook/stories/Page.js
  packages/storybook/stories/Page.stories.js
  packages/storybook/stories/assets/code-brackets.svg
  packages/storybook/stories/assets/colors.svg
  packages/storybook/stories/assets/comments.svg
  packages/storybook/stories/assets/direction.svg
  packages/storybook/stories/assets/flow.svg
  packages/storybook/stories/assets/plugin.svg
  packages/storybook/stories/assets/repo.svg
  packages/storybook/stories/assets/stackalt.svg
  packages/storybook/stories/button.css
  packages/storybook/stories/header.css
  packages/storybook/stories/page.css
  webapps/app-explorer/.gitignore
  webapps/app-first/.gitignore
  webapps/app-second/.gitignore
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: remove stylelint plugins
  .stylelintrc.json
Due: none

chore: rename webapps to apps
  apps/app-cra/README.md
  apps/app-cra/config-overrides.js
  apps/app-cra/package.json
  apps/app-cra/public/favicon.ico
  apps/app-cra/public/index.html
  apps/app-cra/public/logo192.png
  apps/app-cra/public/logo512.png
  apps/app-cra/public/manifest.json
  apps/app-cra/public/robots.txt
  apps/app-cra/src/App.css
  apps/app-cra/src/App.js
  apps/app-cra/src/App.test.js
  apps/app-cra/src/index.css
  apps/app-cra/src/index.js
  apps/app-cra/src/logo.svg
  apps/app-cra/src/serviceWorker.js
  apps/app-cra/src/setupTests.js
  apps/dashboard/README.md
  apps/dashboard/config-overrides.js
  apps/dashboard/package.json
  apps/dashboard/public/favicon.ico
  apps/dashboard/public/index.html
  apps/dashboard/public/logo192.png
  apps/dashboard/public/logo512.png
  apps/dashboard/public/manifest.json
  apps/dashboard/public/robots.txt
  apps/dashboard/src/App.css
  apps/dashboard/src/App.js
  apps/dashboard/src/App.test.js
  apps/dashboard/src/index.css
  apps/dashboard/src/index.js
  apps/dashboard/src/logo.svg
  apps/dashboard/src/serviceWorker.js
  apps/dashboard/src/setupTests.js
  package.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

shared components update for nextjs
  .eslintrc.json
  .pnp.js
  .yarn/cache/agent-base-npm-6.0.1-7d2f487ea1-5dbab2ce93.zip
  .yarn/cache/agent-base-npm-6.0.2-428f325a93-e77eff83e1.zip
  .yarn/cache/clsx-npm-1.1.1-362bec0598-d8ae10ac05.zip
  .yarn/cache/next-transpile-modules-npm-4.1.0-066cd7b78c-2c06fec8e4.zip
  README.md
  apps/app-cra/package.json
  apps/app-cra/src/App.test.js
  apps/app-cra/src/index.js
  apps/app-cra/src/serviceWorker.js
  apps/app-cra/src/setupTests.js
  apps/app-next/next.config.js
  apps/app-next/package.json
  apps/app-next/pages/index.js
  apps/app-next/styles/globals.css
  packages/shared/components/Button/Button.js
  packages/shared/components/Button/button.module.css
  packages/shared/components/Header/Header.js
  packages/shared/components/Header/header.module.css
  packages/shared/components/Page/Page.js
  packages/shared/components/Page/page.module.css
  packages/shared/package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: storybook css modules support
  packages/storybook/.storybook/main.js
Due: eslint --cache --fix, prettier --write

update: update readme
  README.md
Due: none

chore: storybook config update
  .pnp.js
  .yarnrc.yml
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview-head.html
  packages/storybook/.storybook/preview.js
  packages/storybook/.storybook/theme.js
  packages/storybook/src/Introduction.stories.mdx
  packages/storybook/src/Storyshots.test.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

refactor: replace storybook packge with one-storybook submodule
  .gitmodules
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview-head.html
  packages/storybook/.storybook/preview.js
  packages/storybook/.storybook/styles.css
  packages/storybook/.storybook/theme.js
  packages/storybook/package.json
  packages/storybook/postcss.config.js
  packages/storybook/src/Introduction.stories.mdx
  packages/storybook/src/Storyshots.test.js
  packages/storybook/src/assets/code-brackets.svg
  packages/storybook/src/assets/colors.svg
  packages/storybook/src/assets/comments.svg
  packages/storybook/src/assets/direction.svg
  packages/storybook/src/assets/flow.svg
  packages/storybook/src/assets/plugin.svg
  packages/storybook/src/assets/repo.svg
  packages/storybook/src/assets/stackalt.svg
Due: eslint --cache --fix, prettier --write, stylelint --fix
